@font-face {
    font-family: Anton;
    src: url('./Fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: Source-Italic;
    src: url('./Fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Source;
    src: url('./Fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

@font-face {
    font-family: Press;
    src: url('./Fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}
body{
    background-color: white;
    font-size: 60px;
    font-family: Source;
}
.container_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    border: 2px dotted black;
}
.divES, .divEN{
    width: 20%;
    text-align: center;
}
.idiomas{
    display: flex;
    width: 100%;
    justify-content: center;
}



